@layout('layouts/static')

@section('content')
  <form action="">
  @!component('components/input', {
    name: 'username',
    text: 'Enter username',
    type: 'input'
  })

  @!component('components/input', {
    name: 'password',
    text: 'Enter password',
    type: 'password'
  })

  @!component('components/button', {
    text: 'se connecter',
    type: 'submit'
  })
</form>
@endsection