@layout('layouts/static')

@section('content')
  <form action="/admin" method="POST">
  @!component('components/input', {
    name: 'username',
    text: 'utilisateur',
    type: 'input'
  })

  @!component('components/input', {
    name: 'password',
    text: 'mot de passe',
    type: 'password'
  })

  @!component('components/button', {
    text: 'se connecter',
    type: 'submit'
  })
</form>
@endsection