<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notre copropriété super sympa !</title>
  <link rel="stylesheet" href="css/bulma.min.css">
</head>
<body>

  <main>
    <div>
      <h1 class="title">Bienvienue dans notre copropriété super sympa !</h1>
      <p class="subtitle">
      Une nouvelle vision de l'habitat collectif
      </p>

      <ul>
        <li>
        des jolis batiments ecologiques
        </li>

        <li>
        des voisins qui s'entraident
        </li>

        <li>
        des services à proximité
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
