@layout('layouts/static')

@section('content')
      <h1 class="title">Bienvienue dans notre copropriété super sympa !</h1>
      <p class="subtitle">
      Une nouvelle vision de l'habitat collectif
      </p>

      <ul>
        <li>
        des jolis batiments ecologiques
        </li>

        <li>
        des voisins qui s'entraident
        </li>

        <li>
        des services à proximité
        <a href="/services">voir les services</a>
        </li>
      </ul>
@endsection